
.icon-alessa:before { content: '\e800'; } /* '' */
.icon-emilio:before { content: '\e801'; } /* '' */
.icon-jorgo:before { content: '\e802'; } /* '' */
.icon-mayela:before { content: '\e803'; } /* '' */
